In [29]:
import pandas as pd
import numpy as np

df_titanic = pd.read_csv('../train.csv')
print("Titanic dataset uploaded successfully!")
space = " \n-------------------------------------\n "

def main():
    print("head"+space)
    head = df_titanic.head()    
    print(head) # head : first files
    
    print("end head" + space + "tail")
    tail = df_titanic.tail()
    print(tail) # tail: last files  
    
    print("end tail" + space + "info")
    info = df_titanic.info()
    print(info) #info of df
    
    print("end info"+space + "describe")
    describe = df_titanic.describe()
    print(describe) # describes important data of the df
    
    print("end describe"+space+"columns")
    select_col = df_titanic[['Name', 'Age', 'Sex']]
    print(select_col.head())
    print(space)
    print(select_col.iloc[0:20])
    print(space+"Condicional")
    first_class = df_titanic['Pclass'] == 1
    print(first_class)
    print(space+"condicional multiple")
    survived = df_titanic[(df_titanic['Survived'] == 1) | (df_titanic['Pclass'] == 3)]
    print(survived)
    print("end columns" + space)

if __name__ == "__main__":
    main()
    print(space+"End titanic Data Set"+space)

Titanic dataset uploaded successfully!
head
-------------------------------------

   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S
end head
-------------------------------------
 tail
     PassengerId  Survived  Pclass                                      Name  \
886          887         0       2                     Montvila, Rev. Juozas
887          888         1       1              Graham, Miss. Margaret Edith
888          889         0       3  Johnston, Miss. Catherine Helen "Carrie"
889          890         1       1                     Behr, Mr. Karl Howell
890          891         0       3                       Dooley, Mr. Patrick

        Sex   Age  SibSp  Parch      Ticket   Fare Cabin Embarked
886    male  27.0      0      0      211536  13.00   NaN        S
887  female  19.0      0      0      112053  30.00   B42        S
888  female   NaN      1      2  W./C. 6607  23.45   NaN        S
889    male  26.0      0      0      111369  30.00  C148        C
890    male  32.0      0      0      370376   7.75   NaN        Q
end tail
-------------------------------------
 info
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB
None
end info
-------------------------------------
 describe
       PassengerId    Survived      Pclass         Age       SibSp  \
count   891.000000  891.000000  891.000000  714.000000  891.000000
mean    446.000000    0.383838    2.308642   29.699118    0.523008
std     257.353842    0.486592    0.836071   14.526497    1.102743
min       1.000000    0.000000    1.000000    0.420000    0.000000
25%     223.500000    0.000000    2.000000   20.125000    0.000000
50%     446.000000    0.000000    3.000000   28.000000    0.000000
75%     668.500000    1.000000    3.000000   38.000000    1.000000
max     891.000000    1.000000    3.000000   80.000000    8.000000

            Parch        Fare
count  891.000000  891.000000
mean     0.381594   32.204208
std      0.806057   49.693429
min      0.000000    0.000000
25%      0.000000    7.910400
50%      0.000000   14.454200
75%      0.000000   31.000000
max      6.000000  512.329200
end describe
-------------------------------------
 columns
                                                Name   Age     Sex
0                            Braund, Mr. Owen Harris  22.0    male
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  38.0  female
2                             Heikkinen, Miss. Laina  26.0  female
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  35.0  female
4                           Allen, Mr. William Henry  35.0    male

-------------------------------------

                                                 Name   Age     Sex
0                             Braund, Mr. Owen Harris  22.0    male
1   Cumings, Mrs. John Bradley (Florence Briggs Th...  38.0  female
2                              Heikkinen, Miss. Laina  26.0  female
3        Futrelle, Mrs. Jacques Heath (Lily May Peel)  35.0  female
4                            Allen, Mr. William Henry  35.0    male
5                                    Moran, Mr. James   NaN    male
6                             McCarthy, Mr. Timothy J  54.0    male
7                      Palsson, Master. Gosta Leonard   2.0    male
8   Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)  27.0  female
9                 Nasser, Mrs. Nicholas (Adele Achem)  14.0  female
10                    Sandstrom, Miss. Marguerite Rut   4.0  female
11                           Bonnell, Miss. Elizabeth  58.0  female
12                     Saundercock, Mr. William Henry  20.0    male
13                        Andersson, Mr. Anders Johan  39.0    male
14               Vestrom, Miss. Hulda Amanda Adolfina  14.0  female
15                   Hewlett, Mrs. (Mary D Kingcome)   55.0  female
16                               Rice, Master. Eugene   2.0    male
17                       Williams, Mr. Charles Eugene   NaN    male
18  Vander Planke, Mrs. Julius (Emelia Maria Vande...  31.0  female
19                            Masselmani, Mrs. Fatima   NaN  female

-------------------------------------
 Condicional
0      False
1       True
2      False
3       True
4      False
       ...
886    False
887     True
888    False
889     True
890    False
Name: Pclass, Length: 891, dtype: bool

-------------------------------------
 condicional multiple
     PassengerId  Survived  Pclass  \
0              1         0       3
1              2         1       1
2              3         1       3
3              4         1       1
4              5         0       3
..           ...       ...     ...
885          886         0       3
887          888         1       1
888          889         0       3
889          890         1       1
890          891         0       3

                                                  Name     Sex   Age  SibSp  \
0                              Braund, Mr. Owen Harris    male  22.0      1
1    Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                               Heikkinen, Miss. Laina  female  26.0      0
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                             Allen, Mr. William Henry    male  35.0      0
..                                                 ...     ...   ...    ...
885               Rice, Mrs. William (Margaret Norton)  female  39.0      0
887                       Graham, Miss. Margaret Edith  female  19.0      0
888           Johnston, Miss. Catherine Helen "Carrie"  female   NaN      1
889                              Behr, Mr. Karl Howell    male  26.0      0
890                                Dooley, Mr. Patrick    male  32.0      0

     Parch            Ticket     Fare Cabin Embarked
0        0         A/5 21171   7.2500   NaN        S
1        0          PC 17599  71.2833   C85        C
2        0  STON/O2. 3101282   7.9250   NaN        S
3        0            113803  53.1000  C123        S
4        0            373450   8.0500   NaN        S
..     ...               ...      ...   ...      ...
885      5            382652  29.1250   NaN        Q
887      0            112053  30.0000   B42        S
888      2        W./C. 6607  23.4500   NaN        S
889      0            111369  30.0000  C148        C
890      0            370376   7.7500   NaN        Q

[714 rows x 12 columns]
end columns
-------------------------------------


-------------------------------------
 End titanic Data Set
-------------------------------------